.svg-accord_minus {
	background: url(svg/sprite.css-38506769.svg) 95.18072289156626% 90% no-repeat;
}

.svg-accord_minus-dims {
	width: 12px;
	height: 2px;
}

.svg-accord_plus {
	background: url(svg/sprite.css-38506769.svg) 70.48192771084338% 56.875% no-repeat;
}

.svg-accord_plus-dims {
	width: 12px;
	height: 12px;
}

.svg-action_icon {
	background: url(svg/sprite.css-38506769.svg) 26.993865030674847% 72.78481012658227% no-repeat;
}

.svg-action_icon-dims {
	width: 15px;
	height: 14px;
}

.svg-actions_icon {
	background: url(svg/sprite.css-38506769.svg) 70.66666666666667% 0 no-repeat;
}

.svg-actions_icon-dims {
	width: 28px;
	height: 28px;
}

.svg-apps_icon {
	background: url(svg/sprite.css-38506769.svg) 87.01298701298701% 16.216216216216218% no-repeat;
}

.svg-apps_icon-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow {
	background: url(svg/sprite.css-38506769.svg) 82.3529411764706% 71.875% no-repeat;
}

.svg-arrow-dims {
	width: 8px;
	height: 12px;
}

.svg-arrow_back {
	background: url(svg/sprite.css-38506769.svg) 68.04733727810651% 72.78481012658227% no-repeat;
}

.svg-arrow_back-dims {
	width: 9px;
	height: 14px;
}

.svg-arrow_black {
	background: url(svg/sprite.css-38506769.svg) 77.6470588235294% 71.875% no-repeat;
}

.svg-arrow_black-dims {
	width: 8px;
	height: 12px;
}

.svg-arrow_bottom {
	background: url(svg/sprite.css-38506769.svg) 14.457831325301205% 65.2439024390244% no-repeat;
}

.svg-arrow_bottom-dims {
	width: 12px;
	height: 8px;
}

.svg-cancel {
	background: url(svg/sprite.css-38506769.svg) 100% 13.157894736842104% no-repeat;
}

.svg-cancel-dims {
	width: 20px;
	height: 20px;
}

.svg-cancel_close {
	background: url(svg/sprite.css-38506769.svg) 100% 26.31578947368421% no-repeat;
}

.svg-cancel_close-dims {
	width: 20px;
	height: 20px;
}

.svg-cancel_small {
	background: url(svg/sprite.css-38506769.svg) 0 100% no-repeat;
}

.svg-cancel_small-dims {
	width: 15px;
	height: 15px;
}

.svg-car {
	background: url(svg/sprite.css-38506769.svg) 15.584415584415584% 58.333333333333336% no-repeat;
}

.svg-car-dims {
	width: 24px;
	height: 16px;
}

.svg-card_minus {
	background: url(svg/sprite.css-38506769.svg) 96.34146341463415% 88.82352941176471% no-repeat;
}

.svg-card_minus-dims {
	width: 14px;
	height: 2px;
}

.svg-card_plus {
	background: url(svg/sprite.css-38506769.svg) 61.58536585365854% 72.78481012658227% no-repeat;
}

.svg-card_plus-dims {
	width: 14px;
	height: 14px;
}

.svg-card_triangle {
	background: url(svg/sprite.css-38506769.svg) 87.01298701298701% 0 no-repeat;
}

.svg-card_triangle-dims {
	width: 24px;
	height: 24px;
}

.svg-card_triangle_dis {
	background: url(svg/sprite.css-38506769.svg) 87.01298701298701% 48.648648648648646% no-repeat;
}

.svg-card_triangle_dis-dims {
	width: 24px;
	height: 24px;
}

.svg-cart_small {
	background: url(svg/sprite.css-38506769.svg) 53.84615384615385% 40.13157894736842% no-repeat;
}

.svg-cart_small-dims {
	width: 22px;
	height: 20px;
}

.svg-catalog_icon {
	background: url(svg/sprite.css-38506769.svg) 66.25% 49.382716049382715% no-repeat;
}

.svg-catalog_icon-dims {
	width: 18px;
	height: 10px;
}

.svg-check_big {
	background: url(svg/sprite.css-38506769.svg) 0 61.486486486486484% no-repeat;
}

.svg-check_big-dims {
	width: 24px;
	height: 24px;
}

.svg-check_dis {
	background: url(svg/sprite.css-38506769.svg) 20.27027027027027% 41.21621621621622% no-repeat;
}

.svg-check_dis-dims {
	width: 30px;
	height: 24px;
}

.svg-checkbox_ok {
	background: url(svg/sprite.css-38506769.svg) 27.7027027027027% 23.64864864864865% no-repeat;
}

.svg-checkbox_ok-dims {
	width: 30px;
	height: 24px;
}

.svg-clock_event {
	background: url(svg/sprite.css-38506769.svg) 38.96103896103896% 41.21621621621622% no-repeat;
}

.svg-clock_event-dims {
	width: 24px;
	height: 24px;
}

.svg-close_black {
	background: url(svg/sprite.css-38506769.svg) 53.048780487804876% 72.78481012658227% no-repeat;
}

.svg-close_black-dims {
	width: 14px;
	height: 14px;
}

.svg-close_light {
	background: url(svg/sprite.css-38506769.svg) 44.51219512195122% 72.78481012658227% no-repeat;
}

.svg-close_light-dims {
	width: 14px;
	height: 14px;
}

.svg-compare_edit {
	background: url(svg/sprite.css-38506769.svg) 25% 90.25974025974025% no-repeat;
}

.svg-compare_edit-dims {
	width: 18px;
	height: 18px;
}

.svg-credit_card_icon {
	background: url(svg/sprite.css-38506769.svg) 15.189873417721518% 73.71794871794872% no-repeat;
}

.svg-credit_card_icon-dims {
	width: 20px;
	height: 16px;
}

.svg-delete {
	background: url(svg/sprite.css-38506769.svg) 88.0952380952381% 71.42857142857143% no-repeat;
}

.svg-delete-dims {
	width: 10px;
	height: 11px;
}

.svg-directions_icon {
	background: url(svg/sprite.css-38506769.svg) 98.75% 82.6923076923077% no-repeat;
}

.svg-directions_icon-dims {
	width: 18px;
	height: 16px;
}

.svg-done {
	background: url(svg/sprite.css-38506769.svg) 87.01298701298701% 32.432432432432435% no-repeat;
}

.svg-done-dims {
	width: 24px;
	height: 24px;
}

.svg-dropdown_icon {
	background: url(svg/sprite.css-38506769.svg) 73.80952380952381% 47.90419161676647% no-repeat;
}

.svg-dropdown_icon-dims {
	width: 10px;
	height: 5px;
}

.svg-filter {
	background: url(svg/sprite.css-38506769.svg) 43.47826086956522% 57.961783439490446% no-repeat;
}

.svg-filter-dims {
	width: 17px;
	height: 15px;
}

.svg-geoip {
	background: url(svg/sprite.css-38506769.svg) 67.0807453416149% 89.6774193548387% no-repeat;
}

.svg-geoip-dims {
	width: 17px;
	height: 17px;
}

.svg-hamb_small {
	background: url(svg/sprite.css-38506769.svg) 53.374233128834355% 57.23270440251572% no-repeat;
}

.svg-hamb_small-dims {
	width: 15px;
	height: 13px;
}

.svg-help_icon {
	background: url(svg/sprite.css-38506769.svg) 100% 0 no-repeat;
}

.svg-help_icon-dims {
	width: 20px;
	height: 20px;
}

.svg-ic_event {
	background: url(svg/sprite.css-38506769.svg) 28.67132867132867% 0 no-repeat;
}

.svg-ic_event-dims {
	width: 35px;
	height: 35px;
}

.svg-ic_time {
	background: url(svg/sprite.css-38506769.svg) 0 18.978102189781023% no-repeat;
}

.svg-ic_time-dims {
	width: 35px;
	height: 35px;
}

.svg-left_arrow {
	background: url(svg/sprite.css-38506769.svg) 72.94117647058823% 71.875% no-repeat;
}

.svg-left_arrow-dims {
	width: 8px;
	height: 12px;
}

.svg-like {
	background: url(svg/sprite.css-38506769.svg) 99.37106918238993% 61.53846153846154% no-repeat;
}

.svg-like-dims {
	width: 19px;
	height: 16px;
}

.svg-like_sel {
	background: url(svg/sprite.css-38506769.svg) 99.37106918238993% 51.282051282051285% no-repeat;
}

.svg-like_sel-dims {
	width: 19px;
	height: 16px;
}

.svg-magazine_icon {
	background: url(svg/sprite.css-38506769.svg) 98.75% 72.25806451612904% no-repeat;
}

.svg-magazine_icon-dims {
	width: 18px;
	height: 17px;
}

.svg-menu {
	background: url(svg/sprite.css-38506769.svg) 30.76923076923077% 57.961783439490446% no-repeat;
}

.svg-menu-dims {
	width: 22px;
	height: 15px;
}

.svg-move {
	background: url(svg/sprite.css-38506769.svg) 0 42.95774647887324% no-repeat;
}

.svg-move-dims {
	width: 30px;
	height: 30px;
}

.svg-new_icon {
	background: url(svg/sprite.css-38506769.svg) 98.75% 87.34939759036145% no-repeat;
}

.svg-new_icon-dims {
	width: 18px;
	height: 6px;
}

.svg-panel_minus {
	background: url(svg/sprite.css-38506769.svg) 69.73684210526316% 19.17808219178082% no-repeat;
}

.svg-panel_minus-dims {
	width: 26px;
	height: 26px;
}

.svg-panel_plus {
	background: url(svg/sprite.css-38506769.svg) 69.73684210526316% 36.986301369863014% no-repeat;
}

.svg-panel_plus-dims {
	width: 26px;
	height: 26px;
}

.svg-phone_button {
	background: url(svg/sprite.css-38506769.svg) 0 77.70270270270271% no-repeat;
}

.svg-phone_button-dims {
	width: 24px;
	height: 24px;
}

.svg-pole_icon {
	background: url(svg/sprite.css-38506769.svg) 51.351351351351354% 21.12676056338028% no-repeat;
}

.svg-pole_icon-dims {
	width: 30px;
	height: 30px;
}

.svg-pole_icon-sel {
	background: url(svg/sprite.css-38506769.svg) 0 90.25974025974025% no-repeat;
}

.svg-pole_icon-sel-dims {
	width: 20px;
	height: 18px;
}

.svg-pole_link {
	background: url(svg/sprite.css-38506769.svg) 12.658227848101266% 90.25974025974025% no-repeat;
}

.svg-pole_link-dims {
	width: 20px;
	height: 18px;
}

.svg-pole_link-sel {
	background: url(svg/sprite.css-38506769.svg) 51.351351351351354% 0 no-repeat;
}

.svg-pole_link-sel-dims {
	width: 30px;
	height: 30px;
}

.svg-popup_close_dark {
	background: url(svg/sprite.css-38506769.svg) 35.97560975609756% 72.78481012658227% no-repeat;
}

.svg-popup_close_dark-dims {
	width: 14px;
	height: 14px;
}

.svg-search {
	background: url(svg/sprite.css-38506769.svg) 36.25% 90.25974025974025% no-repeat;
}

.svg-search-dims {
	width: 18px;
	height: 18px;
}

.svg-search_icon {
	background: url(svg/sprite.css-38506769.svg) 47.5% 90.25974025974025% no-repeat;
}

.svg-search_icon-dims {
	width: 18px;
	height: 18px;
}

.svg-select_triangles {
	background: url(svg/sprite.css-38506769.svg) 83.4319526627219% 89.6774193548387% no-repeat;
}

.svg-select_triangles-dims {
	width: 9px;
	height: 17px;
}

.svg-setup_icon {
	background: url(svg/sprite.css-38506769.svg) 77.1604938271605% 89.6774193548387% no-repeat;
}

.svg-setup_icon-dims {
	width: 16px;
	height: 17px;
}

.svg-shop_add_icon {
	background: url(svg/sprite.css-38506769.svg) 96.34146341463415% 39.473684210526315% no-repeat;
}

.svg-shop_add_icon-dims {
	width: 14px;
	height: 20px;
}

.svg-shops_icon {
	background: url(svg/sprite.css-38506769.svg) 0 0 no-repeat;
}

.svg-shops_icon-dims {
	width: 41px;
	height: 26px;
}

.svg-small_ok {
	background: url(svg/sprite.css-38506769.svg) 62.576687116564415% 56.875% no-repeat;
}

.svg-small_ok-dims {
	width: 15px;
	height: 12px;
}

.svg-store {
	background: url(svg/sprite.css-38506769.svg) 86.45161290322581% 61.146496815286625% no-repeat;
}

.svg-store-dims {
	width: 23px;
	height: 15px;
}

.svg-trash {
	background: url(svg/sprite.css-38506769.svg) 57.31707317073171% 90.25974025974025% no-repeat;
}

.svg-trash-dims {
	width: 14px;
	height: 18px;
}

