.container {
  max-width: 68.5em !important;
}
.skill-delete {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.skill-item:hover .skill-delete {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.skills-input {
  float: left;
}
.skills-selection {
  float: right;
  width: 6.5rem;
}
.skills-addition {
  display: block;
}
.description {
  width: auto;
}
.employee {
  position: relative;
}
.employee-info {
  position: static;
}
.details-item {
  min-height: 17em;
}

