.container {
  max-width: 68.5em !important;
}
.print {
  position: absolute;
  display: block;
}
.skill-delete {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.skill-item:hover .skill-delete {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.skills-input {
  float: left;
}
.skills-selection {
  float: right;
}
.skills-addition {
  display: block;
}
.description {
  width: auto;
}
.employee {
  position: relative;
}
.employee-info {
  position: static;
}
.details .details-item {
  min-height: inherit;
  padding-bottom: 2em;
}
.skills-selection select {
  width: 9em !important;
}
.skills-input {
  width: 9em !important;
}
