html {
  font-size: 87.5%
}
body {
  font-family: "Arial", Helvetica, sans-serif;
  background: #fff;
  color: #3b3b3b;
}
a {
  color: #3b3b3b;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 68.5rem;
  padding: 10px;
}
.employee-info {
  position: relative;
  background: #e0e0e0;
  -js-display: -webkit-box;
  -js-display: -webkit-flex;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.avatar {
  width: 25%;
}
.description {
  padding: 1.785rem 2.14rem 2.14rem 2.5rem;
  box-sizing: border-box;
  width: 100%;
}
.edit-trigger {
  border:1px solid transparent;
  cursor: pointer;
}
.edit-trigger:hover {
  border: 1px solid #acacac;
}
.name {
  font: normal 2.4rem/1 "Arial", Helvetica, sans-serif;
  margin: 0 0 .5rem;
  padding: .2rem 0;
}
.country {
  font-weight: bold;
  margin-bottom: .4rem;
  cursor: pointer;
}
.hidden-field {
  display: none !important;
}
.language-field {
  font-weight: bold;
  margin-bottom: 1.65rem;
}
.field {
  width: 100%;
  font-size: .9rem;
  padding: .1rem;
  box-sizing: border-box;
  font-weight: normal;
}
.relative-field {
  position: relative;
  max-width: 38rem;
}
.remove {
  width: 1.14rem;
  height: 1.14rem;
  border: 0;
  background: url("../img/icons.png") -50px -50px;
}
.ready {
  border: 0;
  width: 1.142rem;
  height: 1.142rem;
  background: url('../img/icons.png');
}
.relative-field .ready,
.relative-field .remove {
  position: absolute;
}
.relative-field .ready {
  right: 2rem;
  top: .2rem;
}
.relative-field .remove {
  right: 0.5rem;
  top: .2rem;
}
.name-edit,
.country-edit,
.language-edit {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.name-edit .field {
  font-size: 2.4rem;
  left: -.1rem;
  top: -.1rem;
  position: relative;
  padding-right: 4.5rem;
}
.name-edit .ready,
.name-edit .remove {
  height: 1.57rem;
  width: 1.57rem;
  top: .714rem;
  background: url("../img/icons.png") -100px 0;
}
.name-edit .ready {
  right: 2.42rem;
}
.name-edit .remove {
  background: url("../img/icons.png") -100px -50px;
}
/* skills */
.skills {
  list-style-type: none;
  padding: 0;
  margin: 0 0 .6rem -.5rem;
}
.skill-item {
  position: relative;
  display: inline-block;
  padding: 0 .78rem;
  margin: 0 .15rem .5rem 0;
  text-transform: uppercase;
  vertical-align: top;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: .92rem;
  line-height: 1.71rem;
}
.skill-delete {
  position: absolute;
  right: .25rem;
  top: 50%;
  width: 1.214rem;
  height: 1.214rem;
  margin-top: -.6rem;
  background: url('../img/icons.png') -50px 0;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.skill-item:hover .skill-delete {
  opacity: 1;
}
.skill-strong {
  background: #000;
}
.skill-medium {
  background: #4a4a4a;
}
.skill-low {
  background: #919191;
}
.skills-field {
  position: relative;
}
.skills-addition {
  position: absolute;
  top: 0;
  border: 1px solid #24ff0a;
  font-size: 0.78rem;
  background: #fff;
  padding: 0.28rem .4rem;
  width: 17.9rem;
  -js-display: -webkit-box;
  -js-display: -webkit-flex;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.skills-addition:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}
.skills-input {
  white-space: nowrap;
  border: 0;
  width: 11rem;
}
.skills-input::-webkit-input-placeholder {
  color: #3b3b3b;
}
.skills-input:-moz-placeholder {
  color: #3b3b3b;
}
.skills-input::-moz-placeholder {
  color: #3b3b3b;
}
.skills-input:-ms-input-placeholder {
  color: #3b3b3b;
}
.skills-selection * {
  display: inline-block;
  vertical-align: middle;
}
.skills-selection select {
  width: 5rem;
}
.skills-selection .ready {
  margin-left: .1rem;
}
.print {
  position: absolute;
  right: 1.42rem;
  top: 1.42rem;
  font-size: .9rem;
  padding: 0.05rem 0.85rem;
  line-height: 1.64rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.print:hover {
  background: #fff;
  color: #000;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* details */
.details {
  padding: 0;
  margin: 0;
  border-left: 1px solid #ccc;
  -js-display: -webkit-box;
  -js-display: -webkit-flex;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.details-item {
  width: 25%;
  padding: 1.57rem .85rem 1rem .95rem;
  margin: 0;
  list-style-type: none;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 17rem;
  position: relative;
}
.details-center {
  text-align: center;
}
.details-title {
  padding: 0;
  margin: 0;
  min-height: 3.7rem;
  text-align: center;
  font-size: .92rem;
}
.subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.14rem;
  text-align: center;
}
.subtitle-gap {
  margin-bottom: 1.5rem;
}
.list-gap {
  padding: 0 1rem;
}
.meaning {
  padding: 0;
  margin: 1.1rem 0 0;
  font-size: 2.3rem;
}
.list {
  padding: 0 0 0 .95rem;
  margin: 0;
  list-style-type: disc;
}
.list li {
  margin-bottom: .3rem;
}
.code-block {
  background: url("../img/code.png") no-repeat;
}
.availability {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 -.85rem 1.57rem -.95rem;
  padding-bottom: .8rem;
}
/* cite block */
.cite {
  padding: 0;
  margin: 0;
}
.cite-outer {
  min-height: 15rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cite-outer .subtitle {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.cite {
  position: relative;
  margin-right: 1rem;
  font-style: italic;
  font-size: .9rem;
  line-height: 1.4;
  padding: 1.42rem 0 1rem .64rem;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.cite:before,
.cite:after {
  content: '';
  width: 2.642rem;
  height: 1.928rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url('../img/icons.png') 0 -50px;
}
.cite:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.cite:after {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.author {
  text-align: right;
  font-style: normal;
  color: #000;
  font-weight: bold;
  font-size: .8rem;
}
/* media */
@media screen and (max-width: 1000px) {
  .details-item {
    width: 50%;
  }
  .avatar {
    display: block;
    margin: 0 auto;
    min-width: 14rem;
  }
  .employee-info {
    display: block;
    padding: 1rem;
  }
  .description {
    padding: 1rem;
    max-width: inherit;
    width: auto;
  }
  .print {
    position: static;
    display: inline-block;
    margin-top: 1rem;
  }
  .code-block {
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .details-item {
    width: 33.3%;
  }
  .print {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .details-item {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .details-item {
    width: 100%;
  }
  .empty-block {
    display: none;
  }
}
@media print {
  * {
    color: #000 !important;
  }
  .details {
    border: 0;
    display: block;
  }
  .details-item {
    width: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
    min-height: inherit;
  }
  .cite-outer {
    min-height: inherit;
    display: block;
  }
  .details-title,
  .subtitle,
  .availability,
  .details-center {
    text-align: left;
  }
  .cite-outer .subtitle {
    display: block;
  }
  .details-title {
    min-height: inherit;
    margin-bottom: 1rem;
  }
  .skills-add,
  .print,
  .skills-addition {
    display: none;
  }
  .list-gap,
  .cite {
    padding: 0;
  }
  .subtitle-gap {
    margin-bottom: 1rem;
  }
  .availability {
    margin: 0 0 1.57rem;
  }
  .employee-info {
    margin-bottom: 2rem;
  }
  .skill-item {
    padding: 0;
  }
  .skills {
    margin-left: 0;
  }
}